* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  width: 1520px;
  height: auto;

  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  width: 1520px;
  height: 89px;
  background-color: #3ab3b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

#navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

#navbar ul li {
  color: black;
  display: inline-block;
  padding: 1rem;
  position: relative;
}

#navbar ul li a {
  color: black;
  text-decoration: none;
}

/* ///////////// */

#Section-home {
  width: 1520px;
  height: 522px;
  display: grid;
  place-items: center;
  background-color: teal;
}

#title-home {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  line-height: 46.88px;
  align-items: center;
  width: 296px;
  height: 47px;
  top: 230px;
  left: 588px;
  margin: 141px 556px 29px 588px;
  color: #000000;
}

#paragraph {
  width: 553px;
  height: 23px;
  top: 306px;
  left: 460px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  align-items: center;
  margin: 0px 427px 29px 460px;
}

#form-container {
  width: 684px;
  height: 111px;
  top: 358px;
  left: 378px;
  background-color: #e6e6e6;
  padding: 28px;
  margin: 0px 378px 142px 378px;
}

#form-home {
  display: flex;
  align-items: center;
}

#fname {
  width: 195px;
  height: 55px;
  top: 386px;
  left: 406px;
  border-radius: 5px;
  align-items: center;
  border: 1px solid #4b4b4b;
  margin-right: 15px;
}

#phone {
  width: 195px;
  height: 55px;
  top: 386px;
  left: 618px;
  border-radius: 5px;
  border: 1px solid #4b4b4b;
  margin-right: 15px;
}

#submit-home {
  width: 180px;
  height: 55px;
  top: 386px;
  left: 830px;
  border-radius: 5px;
}

/* ////// */

#services {
  width: 1520px;
  height: auto;
  background-color: white;
  /* padding-top: 50px; */
  /* aqui tirei o padding top porque estou usando padding bottom no #servicos-title  */
}

#services-title {
  text-align: center;
  /* width: 94px; - estava tendo um conflito na centralizacao*/
  height: 28px;
  padding: 81px 673px 54px 673px;
}

#serv-geral {
  display: flex;
  justify-content: space-around;
}

#services h4 {
  width: 155px;
  height: 19px;
  margin: 0px 178px 12px 18px;
}

#services p {
  width: 314px;
  height: 32px;
  margin: 0px 19px 50px 18px;
}

#services-1 {
  width: 351px;
  height: 263px;
  /* margin: 149px 161px 656px 50px; */
  /* aqui nao se usa margin, somente padding e ppor conta do width da pagina eu estava tendo problemas com a centralização */
  background-color: #3ab3b2;
}

#services-1 img {
  width: 314px;
  height: 129px;
  margin: 14px 18px 7px 19px;
}

#services-2 {
  width: 351px;
  height: 263px;
  /* margin: 149px 0px 656px 69px; */
  /* aqui nao se usa margin, somente padding e ppor conta do width da pagina eu estava tendo problemas com a centralização */
  background-color: #3ab3b2;
}

#services-2 img {
  width: 314px;
  height: 129px;
  margin: 14px 18px 7px 19px;
}

#services-3 {
  width: 351px;
  height: 263px;
  /* margin: 149px 0px 656px 144px; */
  /* aqui nao se usa margin, somente padding e ppor conta do width da pagina eu estava tendo problemas com a centralização */
  background-color: #3ab3b2;
}

#services-3 img {
  width: 314px;
  height: 129px;
  margin: 14px 18px 7px 19px;
}

#button {
  display: inline-block;
  position: absolute;
  width: 204px;
  height: 55px;
  top: 1250px;
  left: 650px;
  /* tive que mudar para 650px para centralizar */
  border-radius: 5px;
  /* margin: 0px 636px 197px 636px; */
}

/* ////////// */

#testimonials {
  width: 1520px;
  height: auto;
  padding-top: 180px;
}

h2 {
  text-align: center;
  padding: 320px 648px 68px 649px;
}

#testimonals-box {
  display: flex;
  justify-content: space-evenly;
}

#test-box-1 {
  width: 360px;
  height: 236px;
  border-radius: 5px;
  background-color: #3ab3b2;
  text-align: center;
}

#test-box-2 {
  width: 360px;
  height: 236px;
  border-radius: 5px;
  background-color: #3ab3b2;
  text-align: center;
}

#test-box-3 {
  width: 360px;
  height: 236px;
  border-radius: 5px;
  background-color: #3ab3b2;
  text-align: center;
}

#testimonal h3 {
  padding: 25px 125px 19px 126px;
}

#testimonal p {
  padding: 0px 25px 25px 25px;
}

/* ////////// */

#portifolio {
  width: 100%;
  margin: 0 auto;
}

/* #service-title {
  text-align: center;
  padding: 320px 648px 68px 649px;
} */

#container-portifolio {
  display: flex;
  align-items: center;
  height: 800px;
  width: 100%;
  justify-content: space-evenly;
}

#pic-container {
  display: flex;
  width: 405px;
  height: 426px;
  margin: 56px 40px 40px;
  padding: 12px;
  background-color: orange;
}

#pic-before {
  width: 100%;
  margin-right: 5px;
}

#pic-after {
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  margin: 0;
}

#pic-container img:hover {
  filter: blur(5px);
}

#footer {
  width: 100%;
  height: 80px;
  background-color: teal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  font-family: "Nerko One", cursive;
}
